body{
    margin-left: auto;
    margin-right: auto;
    width:700px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
  width:100%;
  font-size: 11px;
  border-bottom-color: #E7AD1E;
}

tr{
  text-align:left;
}

#value{
  font-weight: bold;
  font-size: 19px;
  color: #104160;
  margin-bottom:10px;
}

#value::after{
  content: '';
  border: 1px solid #104160;
  display: block;
}


#headTable{
  color: #B4B0AD;
  border-bottom: 2px solid #E7AD1E;
  }

th{
  font-weight:100;
}

.sel{
    width: 50px;
    border-radius:3px;
    padding:6px;
    font-size:11px;
    -webkit-appearance: none;

}

.sel option{
    text-align:center;
    margin: 5px;
    display: inline-block;
}

select{
  background: linear-gradient(64deg, transparent 40%, black 57%), linear-gradient(115deg, black 44%, transparent 60%);
    background-position: calc(100% - 12px) calc(9px), calc(100% - 9px) calc(9px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: #AAAAAA;
}

tbody tr{
  border: 1px solid lightgrey;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

input{
  border-radius:2px;
  padding:6px;
  font-size:11px;
  width: 80px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width:1px;
}


#plus {
  display: block;
  height: 13px;
  width:14px;
  font-size: 22px;
  line-height: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #104160;
  border-radius: 4px;
  padding-top: 2px;
  text-align:center;
  cursor: pointer;
}

#plus::before {
  content: '+';
}

tbody{
  border-top: 2px solid #E7AD1E;
  border-bottom: 2px solid #E7AD1E;
}
thead{
  padding:3px;
}

tfoot th.ng-binding{
  font-weight:bold;
}

tfoot th{
  border-bottom: 1px solid #DDDDDD;
}
.minus {
  display: block;
  cursor:pointer;
  height: 13px;
  width:14px;
  font-size: 35px;
  line-height: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  background-color: #D74931;
  border-radius: 4px;
  padding-top: 2px;
  text-align:center;
  margin-top:8px;
}
th{
  margin-bottom: 3px;
  margin-top:2px;
  padding:1px;
}
.minus::before {
  content: '-';
}

th.ng-binding{
  height:30px;
}

th#plus{
  margin-top: 2px;
  height:13px;
}
